body{
    text-align: center;
}
h1{
    text-decoration: black underline;
     
}
.btn{
    height:11rem;
    width: 11rem;
    border-radius: 20%;
    border: 0.5rem solid black;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: crimson;
}
.yellow{
    background-color:orange;
}
.green{
    background-color: teal;
}
.blue{
    background-color:rgb(69, 69, 238);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}

@media(max-width:400px){
    .btn{
        height: 8rem;
        width: 8rem;
        border: 3px solid black;
        margin: 0.75rem;
    }
}
